<div id="feed-container">
    <div class="top-header">
        <h3>Feed</h3>
        <div class="card card-search">

        </div>
    </div>
    <div class="feed-body">
        <div class="container">
            <div class="row">
                <div class="col s12 m8 offset-m2">
                    <div class="card post">
                        <div class="post-header">
                            <%= image_tag "card-picture-1.jpeg", class: "circle responsive-img" %>
                            <div class="post-info">
                                <h5><strong><%= @user.first_name %></strong></h5>
                            </div>
                        </div>
                        <div class="card-image post-user-image">
                            <%= image_tag 'card-picture-1.jpeg' %>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
