<div class="col s12">
    <div class="mdl-card mdl-shadow--2dp center-align" id="list-info">
        <div class="mdl-list">
            <li class="mdl-list__item">
                <span class="mdl-list__item-primary-content">
                    Name: <%= obj.name %>
                </span>
            </li>
            <li class="mdl-list__item">
                <span class="mdl-list__item-primary-content">
                    Email: <%= obj.email %>
                </span>
            </li>
            <li class="mdl-list__item">
                <span class="mdl-list__item-primary-content">
                    Age: <%= obj.age %>
                </span>
            </li>
            <li class="mdl-list__item">
                <span class="mdl-list__item-primary-content">
                    Country: <%= obj.country %>
                </span>
            </li>
        </div>
    </div>
</div>
