@import "bootstrap/variables";
@import "bootstrap/mixins";

@import "bootstrap/grid";
@import "bootstrap/buttons";
@import "bootstrap/animation";
@import "bootstrap/card";
@import "bootstrap/alert";
@import "bootstrap/close";
@import "bootstrap/utilities";
@import "bootstrap/images";

@import "materialize/components/color";

$primary-color: color("blue-grey", "darken-4") !default;
$secondary-color: color("pink", "base") !default;


$link-color: color("pink", "base") !default;
$input-border-color: color("grey", "lighten-5") !default;
$input-focus-color: #fff !default;
@import 'materialize';
@import "material";

header, main, footer {
    padding-left: 300px;
}

.alert.alert-dismissible {
    position: absolute;
    margin-top: 20px;
    width: 100%;
    z-index: 1000000000;
}

.alert-notice,
.alert-alert {
    background-color: #dff0d8;
    border-color: #d0e9c6;
    color: #3c763d;
}

.avatar-pic {
    max-width: 100px;
    max-height: 100px;
}

.bg-overlay {
    background-color: rgba(0, 0, 0, 0.3);
    width: 100%;
    height: inherit;
    position: relative;
}

.btn {
    margin-top: 10px;
}

.col-relative {
    position: relative;
}

.container-relative {
    position: relative;
}

.danger {
    color: #f44336!important;
}

.danger-btn {
    color: #fff;
    background-color: #f44336!important;
}


.form-color .input-field input {
    border-bottom-color: #000 !important;
}

.form-color .input-field label {
    color: #000 !important;
}

#file-image-title {
    position: absolute;
    bottom: 55px;
}
.file-field .btn-floating.btn-large {
    height: 55.5px;
}

.mdl-card__padding {
    padding: 16px;
    display: flex;
    flex-direction: column;
}

.page-title {
    font-weight: 300;
    text-align: center;
    font-size: 3em;
}

.parallax-container {
    position: relative;
}

.parallax-container {
    height: 300px;

    & .parallax img {
        width: 1000px;
    }

    & h1 {
        font-weight: bolder;
        color: #fff;
        text-shadow: 2px 3px 3px rgba(0, 0, 0, 0.6);
    }

}

.parallax-title__container {
    width: 100%;
    background-color: rgba(0, 0, 0, 0.25);
    position: absolute;
    top: 0;
    left: 0;
    height: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.post-comments-container .collection { margin: 0; overflow: visible; border: 0;}
.post-comments-container .collection-item {
    border-style: solid;
    border-color: #e0e0e0;
    border-width: 1px 0 1px;
}

.post-comments-container {

    & .post-comment .input-field {
        margin-top: 10px;
    }

    & .collection-item.avatar {
        min-height: 60px;
    }

    & .collection .mdl-menu li a {
        display: block;
    }

    & .btn-comment {
        max-width: 100%;
        padding: 0 10px;
    }

}

// =========================
// Main Components
// =========================

// NAVBAR LEFT.
//=================

// Here go the information(Picture, name and email) about the user perfil.
// Is locate in the navbar-left.
.userView {

    // background overlay for the container.
    & .background {
        width: 100%;
        height: 100%;
    }

}

// .side-nav is the navbar left wrapper.
.side-nav.fixed {
    // Custom shadow.
    box-shadow: 0 2px 1px 0 rgba(0, 0, 0, 0.16), 0 2px 4px 0 rgba(0, 0, 0, 0.2);

    // subheader for the list of links.
    & .subheader {
        color: rgba(0, 0, 0, 0.54)!important;
    }

    // Al the secondary links.
    & .secondary-item  {
        padding: 0 16px 0 35px;
    }

}

// TOOLBAR.
// ===================

nav {
    width: calc(100vw - 300px);
}

.nav-wrapper {
    padding-left: 30px;
    display: flex;
    justify-content: flex-end;

    & .brand-logo {
        position: relative;
        margin-right: 20px;
    }

    & form {
        flex-grow: 2;
    }

}

// =========================
// SECTION: FEED
// =========================

.top-header {
    background-image: url("feed-bg");
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    & h3 {
        margin: 0;
        color: #fff;
        font-size: 5em;
        font-weight: bolder;
    }

    & .card-search {
        height: 40px;
        width: 65%;
        padding: 10px;
        margin-top: 50px;
    }
}

// Main content of the feed page.
.feed-body, #dashboard-page {

    #list-info {
        width: 100%;
    }

    .post-header {
        padding: 5px 10px;
        display: flex;
    }

    .post-header  img {
        width: 50px;
        height: 50px;
    }

    .post-info {
        padding: 5px 10px;
        display: flex;
        flex-direction: column;
        justify-content: center;

        h5 { font-size: 1em; margin: 0; }

        h6 { font-size: 0.7em; }

    }

    .social-actions { flex-grow: 2;  text-align: right; }

    .social-actions a.btn-floating i {
        color: #212121!important;
    }

}

// ===============================
// SECTION: Account - Edit Account
// ===============================

#edit-user-page {
    background-color: #212121;
    padding: 30px 5px;

    & #edit-form {
        width: 70%;
        margin: 0 auto;
    }
}

#edit-user-page-title {
    color: #fff;
    font-weight: bolder;
    margin: 0;
    text-align: center;
    margin-bottom: 20px;
}

.form-card-title {
    text-align: center;
    font-weight: 300;
    color: #E91E63;
    margin-bottom: 35px;
}

.input-field__text input {
    margin-bottom: 5px;
}

.input-field__text em {
    color: #757575;
}

// ===============================
// SECTION: Dashboard
// ===============================

#dashboard-tabs {
    background-color: #212121;
    margin-bottom: 20px;

    & .tab a {
        color: #fff;
    }

    & .indicator {
        background-color: #E91E63;
    }
}

// ===============================
// SECTION: Conversations
// ===============================

#conversations-page {
    background-color: #eceff1;
    padding: 35px 0;
    height: 100%;

    & .avatar-pic {
        width: 50px;
        height: 50px;
    }

    & .collection-item .last-message-title{
        font-weight: bolder;
    }

    & .collection .collection-item.avatar .secondary-content {
        top: 50%;
        margin-top: -18px;
    }

    & .mdl-card .mdl-card__header-bg .avatar-pic{
        width: 80px;
        height: 80px;
        margin-left: -40px;
        bottom: -40px;
    }

    & .mdl-card__bottom .btn, .friend-card .mdl-card__bottom .btn-large {
        font-size: 1rem;
        height: 36px;
        line-height: 36px;
        padding: 0 2rem;
    }
}

#friend-container {
    position: relative;
    margin: 5px;
    height: 100%;

    & #friend-card {
        top: 0;
        width: 100%;
        height: auto;
        margin: 0 auto;
        position: relative;

        & .avatar-pic {
            width: 80px;
            height: 80px;
            position: absolute;
            left: 50%;
            margin-left: -40px;
            bottom: -40px;
            box-shadow: 0 3px 3px rgba(0, 0, 0, 0.5)
        }

        & h5 {
            margin-top: 50px;
        }

    }

    & .mdl-card__header-bg {
        background-image: url('feed-bg');
        background-size: cover;
        height: 140px;
        box-shadow: 0 3px 3px rgba(0, 0, 0, 0.5);
        position: relative;
    }

}

.card-message {
    width: 70%;
    min-height: 70px;
    height: auto;

    & .card-message__header {
        display: flex;

        & .card-message__header-info {
            margin-left: 10px;
        }

        & h5 {
            margin: 0;
            font-size: 1em;
        }

    }

    & .card-message__date p {
        margin: 0;
        position: relative;
        float: right;
    }

}

.col + .col .card-message {
    margin-top: 15px;
}

.card-inbox {
    position: relative;
    left: 0;
}

.card-sentbox {
    position: relative;
    float: right;
}

// ===============================
// SECTION: Friends.
// ===============================

.parallax-container {
    height: 300px;

    & .parallax img {
        width: 1000px;
    }

    & h1 {
        font-weight: bolder;
        color: #fff;
        text-shadow: 2px 3px 3px rgba(0, 0, 0, 0.6);
    }

}

#friends-page .page-title {
    font-weight: 300;
    font-size: 1.8em;
}

.friend-card {
    width: 100%;
    min-height: 0;
    height: auto;
    padding-bottom: 20px;

    & .mdl-card__header-bg {
        background-image: url('card-picture-1');
        background-size: cover;
        width: 100%;
        height: 120px;
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 45px
    }

    & .mdl-card__header-bg h6 {
        font-weight: bolder;
    }

    & .mdl-card__header-bg img {
        width: 60px;
        height: 60px;
        position: absolute;
        left: 50%;
        margin-left: -30px;
        bottom: -30px;
    }

    & .mdl-card__bottom {
        text-align: center;
    }

    & .mdl-card__bottom .btn {
        font-size: 10px;
        height: 30px;
        line-height: 30px;
        padding: 0 1rem;
    }
}



.parallax-perfil__container {
    width: 100%;
    position: absolute;
    left: 0;
    bottom: 0;

    & .avatar-pic {
        width: 100px;
        height: 100px;
    }

    & .info-name,
    & .info-email,
    & .info-status {
        margin: 5px 0 0 0;
    }

    & .info-name,
    & .info-email {
        color: #fff;
    }

    & .info-name {
        font-weight: bold;
    }

    & .info-email {
        font-weight: 300;
        font-size: 17px;
    }

    & .online {
        color: #7cb342;
    }
}

@media only screen and (max-width: 992px) {

    nav {
        width: 100%;
    }

    header, main, footer {
        padding-left: 0;
    }

    // TOOLBAR.
    .nav-wrapper {
        & .brand-logo {
            text-align: center;
            flex-grow: 2;
            left: 0;
            transform: none;

        }

        & form {
            display: none;
        }

    }
}
