@import "materialize/components/color";

$primary-color: color("blue-grey", "darken-4") !default;
$secondary-color: color("pink", "base") !default;


$link-color: color("pink", "base") !default;
$input-border-color: color("grey", "lighten-5") !default;
$input-focus-color: #fff !default;
@import 'materialize';

header, main, footer {
    padding-left: 300px;
}

.danger {
    color: #f44336!important;
}

.danger-btn {
    color: #fff;
    background-color: #f44336!important;
}

// =========================
// Main Components
// =========================

// NAVBAR LEFT.
//=================

// Here go the information(Picture, name and email) about the user perfil.
// Is locate in the navbar-left.
.userView {

    // background overlay for the container.
    & .background {
        width: 100%;
        height: 100%;
    }

}

// .side-nav is the navbar left wrapper.
.side-nav.fixed {
    // Custom shadow.
    box-shadow: 0 2px 1px 0 rgba(0, 0, 0, 0.16), 0 2px 4px 0 rgba(0, 0, 0, 0.2);

    // subheader for the list of links.
    & .subheader {
        color: rgba(0, 0, 0, 0.54)!important;
    }

    // Al the secondary links.
    & .secondary-item  {
        padding: 0 16px 0 35px;
    }

}

// TOOLBAR.
// ===================

nav {
    width: calc(100vw - 300px);
}

.nav-wrapper {
    padding-left: 30px;
    display: flex;
    justify-content: flex-end;

    & .brand-logo {
        position: relative;
        margin-right: 20px;
    }

    & form {
        flex-grow: 2;
    }

}

// =========================
// SECTION: FEED
// =========================

.top-header {
    background-image: url("feed-bg");
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    & h3 {
        margin: 0;
        color: #fff;
        font-size: 5em;
        font-weight: bolder;
    }

    & .card-search {
        height: 40px;
        width: 65%;
        padding: 10px;
        margin-top: 50px;
    }
}

// Main content of the feed page.
.feed-body {

    .post-header {
        padding: 5px 10px;
        display: flex;
    }

    .post-header  img {
        width: 50px;
        height: 50px;
    }

    .post-info {
        padding: 5px 10px;
        display: flex;
        flex-direction: column;
        justify-content: center;

        h5 { font-size: 1em; margin: 0; }

        h6 { font-size: 0.7em; }

    }

}

// ===============================
// SECTION: Account - Edit Account
// ===============================

#edit-user-page {
    background-color: #212121;
    padding: 30px 5px;

    & #edit-form {
        width: 70%;
        margin: 0 auto;
    }

    & #edit-form .input-field input {
        border-bottom-color: #000;
    }

    & #edit-form .input-field label {
        color: #000;
    }

    & #file-image-title {
        position: absolute;
        bottom: 55px;
    }
    & .file-field .btn-floating.btn-large {
        height: 55.5px;
    }
}

#edit-user-page-title {
    color: #fff;
    font-weight: bolder;
    margin: 0;
    text-align: center;
    margin-bottom: 20px;
}

.form-card-title {
    text-align: center;
    font-weight: 300;
    color: #E91E63;
    margin-bottom: 35px;
}

.input-field__text input {
    margin-bottom: 5px;
}

.input-field__text em {
    color: #757575;
}

@media only screen and (max-width: 992px) {

    nav {
        width: 100%;
    }

    header, main, footer {
        padding-left: 0;
    }

    // TOOLBAR.
    .nav-wrapper {
        & .brand-logo {
            text-align: center;
            flex-grow: 2;
            left: 0;
            transform: none;

        }

        & form {
            display: none;
        }

    }
}
