<header>
    <div class="navbar-fixed">
        <nav>
            <div class="nav-wrapper">
                <a href="#" data-activates="slide-out" class="button-collapse">
                    <i class="material-icons">menu</i>
                </a>
                <a href="#!" class="brand-logo">Move</a>
                <%= form_tag user_friends_search_path(current_user), method: "get" do %>
                    <div class="input-field">
                        <%= search_field_tag "search", nil, placeholder: "Search friends by name or email" %>
                        <%= label_tag :search do %>
                            <i class="material-icons">search</i>
                        <% end %>
                        <i class="material-icons">close</i>
                    </div>
                <% end %>
            </div>
        </nav>
    </div>
</header>
<main>
